<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tlh.postgis.mapper.GlobalPointMapper">

    <select id="findByDistance" resultType="org.tlh.postgis.entity.GlobalPoint">
        select * from global_points where ST_DWithin(location,#{adress},#{distance})
    </select>
</mapper>