<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>自定义登陆界面</title>
</head>
<body>
    <form th:action="@{/customLogin}" method="post">
        <table>
            <tr>
                <td>用户名：</td>
                <td>
                    <input name="username">
                </td>
            </tr>
            <tr>
                <td>密码：</td>
                <td>
                    <input name="password" type="password">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="登陆">
                    <input type="reset" value="重置">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>